.aboutpage {
  padding-top: 100px;
  color: var(--secondary-color) !important;
  z-index: 1;
  padding-bottom: 100px;
}

.aboutpage h1 {
  background: linear-gradient(var(--primary-color), var(--accent-color));
  padding: 40px;
  padding-bottom: 20px;
  margin: 0;
  /* font-family: "Ubuntu"; */
  margin-bottom: 10px;
  font-size: 3em;
  font-weight: 900;
  padding-left: 180px;
  text-align: left;
  z-index: 1;
}

.aboutpage-about {
  margin-top: -80px; /* Adjust the negative margin to move it up */
}

.aboutpage-content {
  background: transparent;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.aboutpage-content h1, .aboutpage-content p {
  margin: 0;
  padding: 0px;
  
  padding-bottom: 30px;
  background:rgba(255, 0, 0, 0);
}
.aboutpage-content h1{
  font-size: 2em;
}
.earth {
  position: absolute;
  left: 50px;
  width: 40%;
  background: transparent;
  top: 250px; 
  z-index: 0;
}

/* Set the background of the row to transparent */
.aboutpage-content .row {
  background: transparent;
}

#quote{
  background:transparent;

}
.animation{
  margin-bottom: 100px;
}
.ship {
  position: absolute;
  top: 500px;
  left: 100px;
  background: transparent;
  animation-name: moveShip;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite; 
}

@keyframes moveShip {
  0% {
    left: 100px;
    opacity: 1;
  }
  90% {
    left: 300px;
    opacity: 0.9;
  }
  100% {
    left: 300px;
    opacity: 0;
  }
}

.extra{
  /* background-color: var(--accent-color); */
  
  background-image: url('../../assets/cover3.png');;
}
.extra h1{
  background: #52391997;
  font-size: 4em;
  color: var(--primary-color);
  font: weight 900px;;
  padding: 100px;
  padding-left: 200px;
  padding-right: 200px;
  margin: 0;

}
.team h1{
  background: linear-gradient(var(--primary-color), var(--accent-color));
  padding-bottom: 20px;
  margin: 0;
  margin-bottom: 50px;
 
  font-size: 4em;
  font-weight: 900;
  
  z-index: 1;
  
}

.team{
  padding-top: 100px;
  padding-bottom: 150px;

}

.team p{
  margin:0;

}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding-top: 30px;
    /* height: 100vh; Adjust this as needed */
  }
  
  .peopleCard_box {
    margin-left: 0px;
    /* margin-bottom: 10px; */
    width: 250px;
    height: 350px;
    border-radius: 10px;
    /* background: var(--primary-color); */
    background: white;
    position: relative;
    box-shadow: 0  25px 50px var(--accent-color);
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  }
  
  .peopleCard-image {
    background-color:var(--highlight-color);
     width: 100%;
    height: 90%; 
    overflow: hidden;
    border-radius: 0 0 10px 10px; /* Rounded corners for the bottom */
}




.peopleCard-title {
    /* padding: 40px; */
    color: var(--secondary-color);
    padding-bottom: 10px;
    text-transform: capitalize;
    background:transparent;
    text-align: center;
    border-radius: 0px 0px 10px 10px; /* Rounded corners for the top */
}

.peopleCard-title h3 {
    background: transparent;
    font-size: larger;
    margin: 1px;
    padding-top: 5px;
    
}



.peopleCard_box:hover {
    transform: scale(1.1);
}